<div class="flex flex-row bg-main-gray-light rounded-md">
    <div class="flex flex-col justify-center items-center min-w-[5%]">
        <img
            src="../../../assets/plus.png"
            alt="add-icon"
            class="w-5 h-5 hover:cursor-pointer"
        />
    </div>
    <div
        id="input"
        [contentEditable]="true"
        (input)="content = getContent()"
        class="min-w-[95%] min-h-[44px] max-h-[300px] overflow-y-scroll scrollbar-hide py-2.5 px-1 focus:outline-none"
    ></div>
</div>
