<div
    (click)="hideProfilePanel = !hideProfilePanel"
    class="flex min-h-[52px] flex-row items-center bg-main-gray-darker2"
>
    <div
        class="group ml-2 flex max-h-[39px] min-w-[50%] flex-row items-center rounded-sm py-2 pl-1 hover:cursor-pointer hover:bg-main-gray-hover"
    >
        <div class="relative">
            <img
                src="https://api.dicebear.com/5.x/identicon/svg?seed={{
                    user._id
                }}"
                alt="avatar"
                class="h-8 w-8 rounded-full"
            />
            <div
                class="absolute bottom-0 right-0 -mr-1 -mb-1 flex h-4 w-4 items-center justify-center rounded-full bg-main-gray-darker"
            >
                <img
                    *ngIf="user.displayedStatus === 'Online'"
                    src="../../../assets/online.png"
                    alt=""
                    class="h-2.5 w-2.5"
                />
                <img
                    *ngIf="user.displayedStatus === 'Idle'"
                    src="../../../assets/away.png"
                    alt=""
                    class="h-2.5 w-2.5"
                />
                <img
                    *ngIf="user.displayedStatus === 'Do Not Disturb'"
                    src="../../../assets/busy.png"
                    alt=""
                    class="h-2.5 w-2.5"
                />
                <img
                    *ngIf="user.displayedStatus === 'Offline'"
                    src="../../../assets/offline.png"
                    alt=""
                    class="h-2.5 w-2.5"
                />
            </div>
            <div
                *ngIf="hideProfilePanel"
                class="absolute bottom-12 -left-10 min-h-[395px] min-w-[340px] rounded-md bg-main-gray-darker2 shadow-md"
            >
                <div class="relative min-h-[60px] rounded-md bg-main-gray-dark">
                    <img
                        src="https://api.dicebear.com/5.x/identicon/svg?seed={{
                            user._id
                        }}"
                        alt="avatar"
                        class="absolute top-3 left-5 h-20 w-20 rounded-full bg-main-gray-darker"
                    />
                    <div
                        class="absolute left-16 -bottom-10 ml-3 flex h-8 w-8 items-center justify-center rounded-full bg-main-gray-darker2"
                    >
                        <img
                            *ngIf="user.displayedStatus === 'Online'"
                            src="../../../assets/online.png"
                            alt=""
                            class="h-4 w-4"
                        />
                        <img
                            *ngIf="user.displayedStatus === 'Idle'"
                            src="../../../assets/away.png"
                            alt=""
                            class="h-4 w-4"
                        />
                        <img
                            *ngIf="user.displayedStatus === 'Do Not Disturb'"
                            src="../../../assets/busy.png"
                            alt=""
                            class="h-4 w-4"
                        />
                        <img
                            *ngIf="user.displayedStatus === 'Offline'"
                            src="../../../assets/offline.png"
                            alt=""
                            class="h-4 w-4"
                        />
                    </div>
                </div>

                <div
                    class="mx-3 mt-5 mb-3 min-h-[265px] rounded-md bg-main-black"
                >
                    <div class="px-3 pt-2 pb-3 font-semibold text-white">
                        <h1 class="text-2xl">
                            {{ user.userName }}
                        </h1>
                        <hr class="mt-2 mb-2" />
                        <p class="text-sm uppercase">
                            Scuffed Discord Member Since
                        </p>
                        <p class="font-sm mt-1 font-normal text-gray-400">
                            {{ user.date_created | date : "longDate" }}
                        </p>
                        <hr class="mt-2 mb-2" />
                        <p class="text-sm uppercase">Status</p>
                        <div class="mt-1">
                            <div
                                [ngClass]="{
                                    currentStatus:
                                        user.displayedStatus === 'Online'
                                }"
                                (click)="setDisplayedStatus('Online')"
                                class="mt-1 flex flex-row items-center gap-1 rounded-md p-1.5 text-center hover:bg-main-gray-hover"
                            >
                                <img
                                    src="../../../assets/online.png"
                                    alt=""
                                    class="h-4 w-4"
                                />
                                <p
                                    class="ml-2 text-sm font-normal text-gray-400"
                                >
                                    Online
                                </p>
                            </div>
                            <div
                                [ngClass]="{
                                    currentStatus:
                                        user.displayedStatus === 'Idle'
                                }"
                                (click)="setDisplayedStatus('Idle')"
                                class="mt-1 flex flex-row items-center gap-1 rounded-md p-1.5 text-center aria-[selected]:bg-main-gray-hover hover:bg-main-gray-hover"
                            >
                                <img
                                    src="../../../assets/away.png"
                                    alt=""
                                    class="h-4 w-4"
                                />
                                <p
                                    class="ml-2 text-sm font-normal text-gray-400"
                                >
                                    Idle
                                </p>
                            </div>
                            <div
                                [ngClass]="{
                                    currentStatus:
                                        user.displayedStatus ===
                                        'Do Not Disturb'
                                }"
                                (click)="setDisplayedStatus('DoNotDisturb')"
                                class="mt-1 flex flex-row items-center gap-1 rounded-md p-1.5 text-center aria-[selected]:bg-main-gray-hover hover:bg-main-gray-hover"
                            >
                                <img
                                    src="../../../assets/busy.png"
                                    alt=""
                                    class="h-4 w-4"
                                />
                                <p
                                    class="ml-2 text-sm font-normal text-gray-400"
                                >
                                    Do Not Disturb
                                </p>
                            </div>
                            <div
                                [ngClass]="{
                                    currentStatus:
                                        user.displayedStatus === 'Offline'
                                }"
                                (click)="setDisplayedStatus('Offline')"
                                class="mt-1 flex flex-row items-center gap-1 rounded-md p-1.5 text-center aria-[selected]:bg-main-gray-hover hover:bg-main-gray-hover"
                            >
                                <img
                                    src="../../../assets/offline.png"
                                    alt=""
                                    class="h-4 w-4"
                                />
                                <p
                                    class="ml-2 text-sm font-normal text-gray-400"
                                >
                                    Offline
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="ml-2 max-w-[7rem] truncate text-sm font-semibold">
            {{ user.userName }}
        </h1>
    </div>
</div>
