<div *ngIf="lastRead" class="flex max-w-[98%] flex-row">
    <div class="my-2 ml-4 mr-2 flex grow border-b border-red-500"></div>
    <div>
        <p class="mx-2 mt-3 text-center text-sm font-semibold text-red-500">
            {{ message.date_created | date : "longDate" }}
        </p>
    </div>
    <div class="my-2 ml-2 flex grow border-b border-red-500"></div>
    <div class="">
        <p
            class="mt-2 rounded-sm bg-red-500 p-1 text-center text-xs font-semibold uppercase text-white"
        >
            new
        </p>
    </div>
</div>
<div
    id="message-{{ message._id }}"
    class="message group flex flex-row justify-between px-3 py-2 hover:bg-main-gray-hover2"
>
    <div class="flex min-w-[95%] max-w-[95%] flex-row px-3 py-1">
        <img
            src="https://api.dicebear.com/5.x/identicon/svg?seed={{
                message.author._id
            }}"
            alt="Avatar"
            class="mt-1 h-8 w-8 rounded-full hover:cursor-pointer md:h-10 md:w-10"
        />
        <div class="flex min-w-full flex-col justify-between">
            <div class="ml-5 flex flex-col">
                <div class="flex flex-row justify-between">
                    <div class="flex flex-grow">
                        <p class="m-0 p-0">
                            <span
                                class="font-semibold hover:cursor-pointer hover:underline"
                                >{{ message.author.userName }}</span
                            >
                            <span
                                class="ml-2 text-xs text-gray-400 hover:no-underline"
                                >{{ formattedDate }}</span
                            >
                        </p>
                    </div>
                    <!-- ICONS -->
                    <div
                        *ngIf="
                            !editMode && currentUser._id === message.author._id
                        "
                        class="flex flex-row gap-1"
                    >
                        <svg
                            class="hidden group-hover:block hover:scale-110 hover:cursor-pointer"
                            aria-hidden="true"
                            role="img"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            (click)="editMessage()"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M19.2929 9.8299L19.9409 9.18278C21.353 7.77064 21.353 5.47197 19.9409 4.05892C18.5287 2.64678 16.2292 2.64678 14.817 4.05892L14.1699 4.70694L19.2929 9.8299ZM12.8962 5.97688L5.18469 13.6906L10.3085 18.813L18.0201 11.0992L12.8962 5.97688ZM4.11851 20.9704L8.75906 19.8112L4.18692 15.239L3.02678 19.8796C2.95028 20.1856 3.04028 20.5105 3.26349 20.7337C3.48669 20.9569 3.8116 21.046 4.11851 20.9704Z"
                                fill="currentColor"
                            ></path>
                        </svg>

                        <svg
                            class="hidden group-hover:block hover:scale-110 hover:cursor-pointer"
                            aria-hidden="true"
                            role="img"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            (click)="deleteMessage()"
                        >
                            <path
                                fill="currentColor"
                                d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z"
                            ></path>
                            <path
                                fill="currentColor"
                                d="M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z"
                            ></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div *ngIf="!editMode" class="ml-5">
                <div>
                    <span
                        class="m-0 whitespace-pre-line break-normal break-all p-0 text-white-light"
                    >
                        {{ message.content }}
                    </span>
                    <p *ngIf="message.isEdited" class="text-xs text-gray-500">
                        (edited)
                    </p>
                </div>
            </div>
            <div
                *ngIf="editMode"
                class="ml-5 flex min-w-full max-w-full grow flex-col"
            >
                <div
                    id="edit-{{ message._id }}"
                    #messageId
                    [contentEditable]="true"
                    class="mt-2 mr-3 rounded-lg border-none bg-main-gray-light p-3 text-gray-200 outline-none ring-transparent focus:border-none focus:outline-none focus:ring-transparent"
                ></div>
                <div class="inline">
                    <span class="text-xs">escape to </span
                    ><span class="text-xs text-blue-400">cancel</span
                    ><span class="text-xs"> • enter to </span
                    ><span class="text-xs text-blue-400">save</span>
                </div>
            </div>
        </div>
    </div>
</div>
