<div class="flex flex-row px-3 py-2 hover:bg-main-gray-hover2">
    <img
        src="https://api.dicebear.com/5.x/identicon/svg?seed={{
            message.author
        }}"
        alt="Avatar"
        class="w-8 h-8 md:w-10 md:h-10 rounded-full hover:cursor-pointer mt-1"
    />
    <div class="flex flex-col ml-5 max-w-full">
        <div class="flex flex-row">
            <p class="m-0 p-0">
                <span
                    class="font-semibold hover:underline hover:cursor-pointer"
                    >{{ message.author.userName }}</span
                >
                <span class="text-gray-400 text-sm ml-2 hover:no-underline">{{
                    formattedDate
                }}</span>
            </p>
        </div>
        <span class="text-white-light break-words whitespace-pre-wrap">{{
            message.content
        }}</span>
    </div>
</div>
