<div class="flex flex-col justify-center items-center min-w-full min-h-full">
    <div class="px-[10vw] md:px-[30vw] min-w-full">
        <div class="flex flex-row justify-center">
            <img src="../assets/logo.webp" alt="logo" class="max-w-[70%]" />
        </div>

        <div class="flex flex-col justify-center text-center p-3">
            <h1 class="text-white text-4xl font-semibold">Welcome!</h1>
            <p class="text-md text-gray-300">
                We are happy to see you onboard!
            </p>
        </div>

        <form
            #userCreateForm="ngForm"
            name="form"
            (ngSubmit)="onSubmit()"
            novalidate
        >
            <div class="flex flex-col mt-2">
                <label
                    for="emailadress"
                    class="font-bold text-xs mb-2 text-gray-400 uppercase"
                    >E-mail <span class="text-red-500 text-xs">*</span></label
                >
                <input
                    type="text"
                    id="emailadress"
                    name="emailadress"
                    [(ngModel)]="user!.emailAddress"
                    #emailAddress="ngModel"
                    required
                    class="bg-main-gray-darkest text-gray-300 border-none rounded-sm focus:outline-none focus:ring-0 focus:border-none"
                />
            </div>

            <div class="flex flex-col mt-3">
                <label
                    for="userName"
                    class="font-bold text-xs mb-2 text-gray-400 uppercase"
                    >Username <span class="text-red-500 text-xs">*</span></label
                >
                <input
                    type="text"
                    id="userName"
                    name="userName"
                    [(ngModel)]="user!.userName"
                    #userName="ngModel"
                    required
                    class="bg-main-gray-darkest text-gray-300 border-none rounded-sm focus:outline-none focus:ring-0 focus:border-none"
                />
            </div>

            <div class="flex flex-col mt-3">
                <label
                    for="password"
                    class="font-bold text-xs mb-2 text-gray-400 uppercase"
                    >Password <span class="text-red-500 text-xs">*</span></label
                >
                <input
                    type="password"
                    id="password"
                    name="password"
                    [(ngModel)]="user!.password"
                    #password="ngModel"
                    required
                    class="bg-main-gray-darkest text-gray-300 border-none rounded-sm focus:outline-none focus:ring-0 focus:border-none"
                />
            </div>

            <div class="flex flex-col mt-3 mb-5">
                <label
                    for="dateOfBirth"
                    class="font-bold text-xs mb-2 text-gray-400 uppercase"
                    >Date of birth
                    <span class="text-red-500 text-xs">*</span></label
                >
                <div class="flex flex-row gap-2">
                    <select
                        name="day"
                        id="day"
                        [(ngModel)]="birthday.day"
                        #userDay="ngModel"
                        required
                        class="bg-main-gray-darkest grow text-gray-300 border-none rounded-sm focus:outline-none focus:ring-0 focus:border-none scrollbar-thin scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-thumb-main-gray-darkest scrollbar-track-main-gray-darker"
                    >
                        <option
                            *ngFor="let day of days"
                            [ngValue]="day"
                            class="bg-main-gray"
                        >
                            {{ day }}
                        </option>
                    </select>

                    <select
                        name="month"
                        id="month"
                        [(ngModel)]="birthday.month"
                        #userMonth="ngModel"
                        required
                        class="bg-main-gray-darkest grow text-gray-300 border-none rounded-sm focus:outline-none focus:ring-0 focus:border-none scrollbar-thin scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-thumb-main-gray-darkest scrollbar-track-main-gray-darker"
                    >
                        <option
                            *ngFor="let month of months; let i = index"
                            [ngValue]="i"
                            class="bg-main-gray"
                        >
                            {{ month }}
                        </option>
                    </select>

                    <select
                        name="year"
                        id="year"
                        [(ngModel)]="birthday.year"
                        #userYear="ngModel"
                        required
                        class="bg-main-gray-darkest grow text-gray-300 border-none rounded-sm focus:outline-none focus:ring-0 focus:border-none scrollbar-thin scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-thumb-main-gray-darkest scrollbar-track-main-gray-darker"
                    >
                        <option
                            *ngFor="let year of years"
                            [ngValue]="year"
                            class="bg-main-gray"
                        >
                            {{ year }}
                        </option>
                    </select>
                </div>
            </div>

            <button
                type="submit"
                class="min-w-full min-h-[44px] bg-indigo-500 rounded-sm font-semibold hover:bg-indigo-600"
            >
                Sign up
            </button>
        </form>

        <p class="text-sm text-gray-300 mt-2">
            Already have an account?
            <a
                routerLink="../login"
                class="text-blue-400 hover:text-blue-400 hover:underline"
                >Login</a
            >
        </p>
    </div>
</div>
