<div class="flex flex-col text-gray-400 p-3">
    <div>
        <h1 class="mb-2 text-sm font-semibold">Online - 1</h1>

        <div class="flex flex-col gap-3">
            <div class="flex flex-row gap-2 items-center hover:cursor-pointer">
                <div class="relative">
                    <img
                        src="https://api.dicebear.com/5.x/identicon/svg?seed=AAAAAAAA"
                        alt="avatar"
                        class="w-8 h-8 rounded-full"
                    />
                    <div
                        class="flex w-4 h-4 rounded-full bg-main-gray-darker absolute bottom-0 right-0 justify-center items-center -mr-1 -mb-1"
                    >
                        <img
                            src="../../../assets/online.png"
                            alt=""
                            class="w-2.5 h-2.5"
                        />
                    </div>
                </div>
                <h1 class="text-md font-semibold max-w-[7rem] truncate">
                    Chihi 3
                </h1>
            </div>

            <div class="flex flex-row gap-2 items-center hover:cursor-pointer">
                <div class="relative">
                    <img
                        src="https://api.dicebear.com/5.x/identicon/svg?seed=AAAAAadadaghhAAA"
                        alt="avatar"
                        class="w-8 h-8 rounded-full"
                    />
                    <div
                        class="flex w-4 h-4 rounded-full bg-main-gray-darker absolute bottom-0 right-0 justify-center items-center -mr-1 -mb-1"
                    >
                        <img
                            src="../../../assets/away.png"
                            alt=""
                            class="w-2.5 h-2.5"
                        />
                    </div>
                </div>
                <h1 class="text-md font-semibold max-w-[7rem] truncate">
                    Chihi 4
                </h1>
            </div>

            <div class="flex flex-row gap-2 items-center hover:cursor-pointer">
                <div class="relative">
                    <img
                        src="https://api.dicebear.com/5.x/identicon/svg?seed=AAadadwww2AAadadAAAA"
                        alt="avatar"
                        class="w-8 h-8 rounded-full"
                    />
                    <div
                        class="flex w-4 h-4 rounded-full bg-main-gray-darker absolute bottom-0 right-0 justify-center items-center -mr-1 -mb-1"
                    >
                        <img
                            src="../../../assets/busy.png"
                            alt=""
                            class="w-2.5 h-2.5"
                        />
                    </div>
                </div>
                <h1 class="text-md font-semibold max-w-[10rem] truncate">
                    Chihiaaaaaaaaaaaaaaaaaaaaaaaaaa
                </h1>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h1 class="mb-2 text-sm font-semibold">Offline - 1</h1>

        <div class="flex flex-col gap-3">
            <div class="flex flex-row gap-2 items-center hover:cursor-pointer">
                <div class="relative">
                    <img
                        src="https://api.dicebear.com/5.x/identicon/svg?seed=ABCDEFGHIJKLMNOPQRSTUWVXYZ"
                        alt="avatar"
                        class="w-8 h-8 rounded-full"
                    />
                    <div
                        class="flex w-4 h-4 rounded-full bg-main-gray-darker absolute bottom-0 right-0 justify-center items-center -mr-1 -mb-1"
                    >
                        <img
                            src="../../../assets/offline.png"
                            alt=""
                            class="w-2.5 h-2.5"
                        />
                    </div>
                </div>
                <h1 class="text-md font-semibold max-w-[7rem] truncate">
                    Chihi 2
                </h1>
            </div>
        </div>
    </div>
</div>
